@page "/project/view/{id:int}"
@using Microsoft.AspNetCore.Components.Authorization;
@using ProjectManagementApp.Data;
@using System.Security.Claims;
@inject ProjectsService ProjectsService
@inject NavigationManager NavigationManager

<h1>@Project.Title</h1>
<p>@Project.Description</p>

<h3>Tasks:</h3>

@code
{
    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    private Projects Project { get; set; }
    private ClaimsPrincipal? currentUser;
    private Tasks Task = new();

    protected override void OnInitialized()
    {
        Project = new Projects();
        if (authenticationStateTask == null)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;
            if (user.Identity != null)
            {
                currentUser = user;
                Project = ProjectsService.GetProjectData(Id);
            }
        }
    }

    private void AddTask()
    {
        
    }

    private void Submit()
    {
        if (currentUser == null)
        {
            return;
        }
        ProjectsService.UpdateProject(Project);
        NavigationManager.NavigateTo("/");
    }
}
